rps-game.ru {
    # Backend routes
    handle /api* {
        reverse_proxy backend:3000
    }
    handle /auth* {
        reverse_proxy backend:3000
    }
    handle /health* {
        reverse_proxy backend:3000
    }

    # Frontend (Everything else)
    handle {
        reverse_proxy cyber-rps:80
    }

    log {
        output file /var/log/caddy/access.log
    }
}

:80 {
    reverse_proxy cyber-rps:80
}
