@font-face {
  font-family: 'Onder';
  src: url('/src/assets/ONDER-REGULAR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('/src/assets/Bounded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
